.box{
    position: relative;
    z-index: 999;
}
.nav{
    max-width:100%;
    height: 40px;
    background:#333;
}
.content{
    max-width:100%;
    height: 100%;
    background: rgb(245,245,245);
    margin:0 auto;
}
.nav ul li a{
    color:#b0b0b0;
    font-size: 12px;
    line-height: 40px;
    text-decoration: none;
}
.nav ul li a:hover{
    color:#fff;
}
.nav ul li{
    display: inline-block;
}
.nav ul:nth-child(2) li{
    position: relative;
    left:60px;
}
.nav ul:nth-child(2) li:nth-child(3):hover{
    cursor: pointer;
    background: #fff;
    color:#ff6700;
}
.nav ul:nth-child(2) li:nth-child(3){
    padding:11px 20px;
    background: #424242;
    color:#b0b0b0;
    font-size: 12px;
    text-align: center;
    margin-left: 20px;
}
.nav ul li span{
    margin:0.5em;
    color:#424242;
}
.white{
    width:290px;
    height:101px;
    background: #fff;
    box-shadow:0px 2px 10px rgba(0,0,0,0.15);
    position: absolute;
    right:0;
    top:41px;
    display: none;
}
.white p{
    text-align: center;
    margin-top:46px;
    font-size: 8px;
}
.nav1 ul li{
    padding: 26px 0px 5px;
}
.nav1 ul li{
    display: inline-block;
}
.nav1 ul li:hover{
    cursor: pointer;
}
.nav1 ul:nth-child(2) li{
    padding: 45px 8px 0px;
}
.nav1 ul:nth-child(2) li a:hover{
    color:rgb(255,103,0);
}
.nav1 ul:nth-child(2) li a{
    color:#333;
    font-size: 16px;
    text-decoration: none;
}
.nav1 ul:nth-child(3) li input{
    padding:11px 30px;
    position: relative;
}
.nav1 ul:nth-child(3) li button{
    padding:15px 17px 9px;
    background: white;
    border:1px solid rgb(169,169,169);
    border-left:none;
    position: absolute;
    top: 26px;
    right: 0;
}
.nav1 ul:nth-child(3) li button:hover{
    background: rgb(255,103,0);
    color: #fff;
    cursor: pointer;
}
.nav1 ul:nth-child(3) li p{
    position: absolute;
    top: 50%;
    left:30%;
    font-size: 12px;
    background:#eee;
}
.nav1 ul:nth-child(3) p:hover{
    background:#ff6700;
    color:#fff;
    cursor: pointer;
}
.home ul:first-child li{
    width:222px;
    height: 43.8px;
    background: rgb(95,90,86);
    position: relative;
}
.home ul:first-child li:hover{
    cursor: pointer;
    background: rgb(255,103,0);
}
.home ul:first-child li span{
    margin-top: 5px;
    font-size: 20px;
    color:#aaa;
    position: absolute;
    right:22px;
}
.home ul:first-child li a{
    margin-left: 30px;
    font-size: 14px;
    text-decoration: none;
    color:#fff;
    position: relative;
    top: 10px;
}
.home ul:nth-of-type(2) div h6{
    display: inline-block;
    width:10px;
    height: 10px;
    border-radius: 50%;
    background: #aaa;
    margin: 3px;
}
.home ul:nth-of-type(2) div h6 p{
    width:6px;
    height: 6px;
    border-radius: 50%;
    background: #888;
    margin: 2px;
}
.home ul:nth-of-type(2) div{
    position: absolute;
    top:400px;
    right:30px;
    z-index: 999;
}
.home ul:nth-of-type(2) div h6 p:hover{
    cursor: pointer;
    background:#fff;
}
.home ul:nth-of-type(2){
    width:928px;
    height: 438px;
    overflow: hidden;
}
.home ul li img{
    width:945px;
    height: 438px;
    position: relative;
    left:28px;
}
.home ul:nth-of-type(2) li p{
    width:40px;
    height: 70px;
    background: rgba(250,250,250,.1);
    font-size: 50px;
    text-align: center;
}
.home ul:nth-of-type(2) li{
    position: relative;
}
.home ul:nth-of-type(2) li p:hover{
    cursor: pointer;
    background: #757575;
}
.left1{
    color:#ccc;
    position: absolute;
    top:183px;
    left:27px;
    z-index: 999;
}
.right1{
    color:#ccc;
    position: absolute;
    top:183px;
    right:-15px;
    z-index: 999;
}
.left-active{
     width: 945px;
     height: 438px;
     margin: 0 auto;
     position: absolute;
     top:144px;
     left:604px;
     overflow: hidden;
     display: none;
 }
.left-active1{
    width: 930px;
    height: 438px;
    border: 1px solid #ccc;
    background: white;
    box-shadow:3px 3px 10px rgba(0,0,0,0.15);
}
.left-active2{
      width: 743px;
      height: 438px;
      border: 1px solid #ccc;
      box-shadow:3px 3px 10px rgba(0,0,0,0.15);
    background: white;
}
.left-active3{
    width: 490px;
    height: 438px;
    border: 1px solid #ccc;
    box-shadow:3px 3px 10px rgba(0,0,0,0.15);
    background: white;
}
.left-active4{
    width: 230px;
    height: 438px;
    border: 1px solid #ccc;
    box-shadow:3px 3px 10px rgba(0,0,0,0.15);
    background: white;
}
.left-active div ul li p{
    display: inline;
}
.left-active div ul li img{
    width: 30px;
    height: 40px;
    margin:16px;
}
.second ul:first-child div{
    width:223px;
    height: 163px;
    background: rgb(95,87,80);
}
.second ul:first-child li{
    display: inline-block;
    padding: 28px 6px;
}
.second ul:first-child div span{
    color: rgb(102,94,87);
    font-size: 35px;
}
.second ul:first-child div li:first-child{
    border-bottom: 1px solid rgb(102,94,87);
}
.second ul:first-child div li:nth-of-type(2){
    border-bottom: 1px solid rgb(102,94,87);
}
.second ul:first-child div li:nth-of-type(3){
    padding: 28px 6px;
    border-bottom: 1px solid rgb(102,94,87);
}
.second  li a{
    font-size: 12px;
    text-decoration: none;
    color:rgb(207,205,203);
}
.second  li a:hover{
    color:#fff;
}
.second ul:last-child li{
    position: relative;
    left:28px;
    display: inline-block;
    margin-left: 10px;
}
.second ul:last-child li img{
    width: 297px;
    height: 164px;
    cursor: pointer;
}
.content2{
    width: 1920px;
    height: 220px;
    background: #fff;
    border:1px solid #ccc;
    box-shadow: 0px 2px 0px #ddd;
    position: absolute;
    top:-78px;
    overflow: hidden;
    text-align: center;
    display: none;
}
.j2 div ul {
    display: inline-block;
    padding: 15px;
    border-right: 1px solid #eee;
    text-align: center;
}
.j2 div ul:nth-of-type(6) {
    border-right:none;
}
.j2 div:nth-of-type(5) ul{
    position: relative;
    right:470px;
    border-right:none;
}
.j2 div ul li img{
    width: 160px;
    height: 110px;
}
.j2 div ul li p:nth-of-type(1){
    font-size: 14px;
    margin-top:15px;
}
.j2 div ul li p:nth-of-type(2){
    font-size: 12px;
    color:#ff6700;
    position: relative;
    bottom:15px;
}
.buy div h5{
    display: inline-block;
    padding: 35px 0px 15px;
}
.buy div h5:first-child{
    font-size: 22px;
}
.buy div h5:last-child{
    font-size: 16px;
    position: absolute;
    right: 0px;
}
.buy div h5:last-child p:hover{
    color:rgb(255,103,0);
}
.buy div h5:last-child p{
    display: inline-block;
    width:36px;
    height:26px;
    border:1px solid #ccc;
    text-align: center;
    font-size:18px;
}
.buy div h5:last-child p:first-child{
    color:#e0e0e0;
}
.buy div h5:last-child p:last-child{
    color:#b0b0b0;
}
.buy div h5:last-child p:last-child:hover{
    cursor: pointer;
    color:#ff6700;
}
.buy ul{
    width:223px;
    height: 321px;
    border: 1px solid #ccc;
    display: inline-block;
    margin-right: 9px;
    text-align: center;
    position: relative;
    left: 15px;
}
.buy ul:hover{
    cursor: pointer;
}
.buy ul:first-child li img{
    width:30px;
    height:50px;
}
.buy ul:first-child li p:nth-of-type(1){
    margin-top:20px;
    font-size: 21px;
    color:#ef3a3b;
    padding-top:15px;
}
.buy ul:first-child li p:nth-of-type(2){
    margin-top: 20px;
    font-size: 14px;
    color:rgba(0, 0, 0, 0.54);
}
.buy ul:first-child li span{
    padding:12px 15px;
    background: rgb(96,87,81);
    font-size: 24px;
    color:#fff;
    margin:5px; 
}
.buy .left li p:nth-of-type(1){
    font-size: 14px;
    margin-top:50px;
}
.buy .left li p:nth-of-type(2){
    position: relative;
    bottom:10px;
    font-size: 12px;
    color:#b0b0b0;
}
.buy .left li span:nth-of-type(1){
    position: relative;
    bottom:15px;
    font-size: 14px;
    color:#ff6700;
}
.buy .left li span:nth-of-type(2){
    position: relative;
    bottom:15px;
    font-size: 14px;
    color:#b0b0b0;
}
.buy .left{
    position: relative;
    left: 15px;
}
.buy .left li img{
    width:150px;
    height: 150px;
}
.picture ul li img{
    width: 1166px;
    padding:30px 0;
}
.phone div h5{
    display: inline-block;
    padding: 35px 0px 15px;
}
.phone div h5:first-child{
    font-size: 22px;
}
.phone div h5:last-child{
    font-size: 16px;
    position: absolute;
    right: 0;
}
.phone div h5:last-child:hover{
    cursor: pointer;
    color:rgb(255,103,0);
}
.phone div h5:last-child span:hover{
    background: rgb(255,103,0);
    color:#fff;
}
.phone div h5:last-child span{
    padding:2px 8px 3px;
    background: rgb(176,176,176);
    border-radius: 50%;
    text-align: center;
    color:rgb(251,241,200);
}
.phone .big li img{
    width:223px;
}
.phone img:hover{
    cursor: pointer;
}
.phone .right ul li img{
    width:150px;
}
.phone .right ul{
    width:223px;
    height: 284px;
    background: #fff;
    margin-right: 8px;
    text-align: center;
    display: inline-block;
    position: relative;
    left:42px;
}
.phone ul:hover{
    transform:scale(1.01);
}
.phone .right ul li p:first-child{
    width:64px;
    height:20px;
    text-align: center;
    background: rgb(229,57,53);
    font-size: 12px;
    color:#fff;
    margin:0 auto;
}
.phone .right ul li p:nth-of-type(2){
    margin-top:12px;
    font-size: 14px;
}
.phone .right ul li p:nth-of-type(2):hover{
    cursor: pointer;
}
.phone .right ul li p:nth-of-type(3){
    font-size: 12px;
    position: relative;
    color:#b0b0b0;
    bottom:10px;
}
.phone .right ul li span:nth-of-type(1){
    position: relative;
    bottom:20px;
    font-size: 14px;
    color:#ff6700;
}
.phone .right ul li span:nth-of-type(2){
    position: relative;
    bottom:20px;
    font-size: 14px;
    color:#b0b0b0;
}
.phone .p1 img{
    width: 1166px;
    padding:30px 0;
    position: relative;
    right:15px;
}
.tv div h5{
    display: inline-block;
    padding: 35px 0px 15px;
}
.tv div h5:first-child{
    font-size: 22px;
}
.tv div h5:last-child{
    font-size: 16px;
    position: absolute;
    right: 0px;
}
.tv div h5:last-child span:hover{
    cursor: pointer;
    border-bottom:2px solid rgb(255,103,0);
    color:rgb(255,103,0);
}
.tv div h5:last-child span{
    margin-left: 30px;
    text-align: center;
}
.tv div h5:last-child span:first-child{
    border-bottom:2px solid rgb(255,103,0);
    color:rgb(255,103,0);
}
.tv .left li img{
    width:223px;
    height: 300px;
    margin-left: 15px;
}
.tv .left li img:hover{
    transform:scale(1.01);
}
.tv img:hover{
    cursor: pointer;
}
.tv .right li img{
    width:150px;
    height: 150px;
    margin-top: 10px;
}
.tv .right {
    width:223px;
    height: 300px;
    background: #fff;
    margin-left: 10px;
    text-align: center;
}
.tv .right:hover{
    transform:scale(1.01);
}
.tv .right li p:first-child{
    width:64px;
    height:20px;
    text-align: center;
    background: rgb(229,57,53);
    font-size: 12px;
    color:#fff;
    margin:0 auto;
}
.tv .right li p.green{
    background: #83c44e;
}
.tv .right li p:nth-of-type(2){
    margin-top:12px;
    font-size: 14px;
}
.tv .right li p:nth-of-type(2):hover{
    cursor: pointer;
}
.tv .right li p:nth-of-type(3){
    font-size: 12px;
    position: relative;
    color:#b0b0b0;
    bottom:10px;
}
.tv .right li span:nth-of-type(1){
    position: relative;
    bottom:20px;
    font-size: 14px;
    color:#ff6700;
}
.tv .right li span:nth-of-type(2){
    position: relative;
    bottom:20px;
    font-size: 14px;
    color:#b0b0b0;
}
.tv .right1 li img{
    width:80px;
    height: 80px;
    position: absolute;
    right: 15px;
    top:30px;
}
.tv .right1{
     width:223px;
     height: 140px;
     background: #fff;
     position: relative;
 }
.tv .right2{
    position: absolute;
    right:0px;
    top:400px;
}
.tv .right1:last-child{
    position: absolute;
    right:0px;
    top:560px;
}
.tv .right1 li p:first-child{
    cursor: pointer;
    padding:40px 20px 0px 30px;
}
.tv .right1 li p:nth-of-type(2){
    padding:0px 20px 0px 30px;
    color:#ff6700;
    font-size: 14px;
}
.tv .right1:last-child li p:nth-of-type(2){
    color:#777;
    font-size: 14px;
    cursor: pointer;
}
.tv .p1 img{
    width: 1166px;
    padding:30px 0;
    position: relative;
    right:15px;
}
.fashion div h5{
    display: inline-block;
    padding: 20px 0px 15px;
}
.fashion div h5:first-child{
    font-size: 22px;
}
.fashion div h5:last-child{
    font-size: 16px;
    position: absolute;
    right: 0px;
}
.fashion div h5:last-child span:hover{
    cursor: pointer;
    border-bottom:2px solid rgb(255,103,0);
    color:rgb(255,103,0);
}
.fashion div h5:last-child span{
    margin-left: 30px;
    text-align: center;
}
.fashion div h5:last-child span:first-child{
    border-bottom:2px solid rgb(255,103,0);
    color:rgb(255,103,0);
}
.fashion .left li img{
    width:223px;
    height: 300px;
    margin-left: 15px;
}
.fashion .left li img:hover{
    transform:scale(1.01);
}
.fashion img:hover{
    cursor: pointer;
}
.fashion .right li img{
    width:150px;
    height: 150px;
    margin-top: 10px;
}
.fashion .right {
    width:223px;
    height: 300px;
    background: #fff;
    margin-left: 10px;
    text-align: center;
}
.fashion .right:hover{
    transform:scale(1.01);
}
.fashion .right li p:first-child{
    width:64px;
    height:20px;
    text-align: center;
    background: rgb(229,57,53);
    font-size: 12px;
    color:#fff;
    margin:0 auto;
}
.fashion .right li p.green{
    background: #83c44e;
}
.fashion .right li p:nth-of-type(2){
    margin-top:12px;
    font-size: 14px;
}
.fashion .right li p:nth-of-type(2):hover{
    cursor: pointer;
}
.fashion .right li p:nth-of-type(3){
    font-size: 12px;
    position: relative;
    color:#b0b0b0;
    bottom:10px;
}
.fashion .right li span:nth-of-type(1){
    position: relative;
    bottom:20px;
    font-size: 14px;
    color:#ff6700;
}
.fashion .right li span:nth-of-type(2){
    position: relative;
    bottom:20px;
    font-size: 14px;
    color:#b0b0b0;
}
.fashion .right1 li img{
    width:80px;
    height: 80px;
    position: absolute;
    right: 15px;
    top:30px;
}
.fashion .right1{
    width:223px;
    height: 140px;
    background: #fff;
    position: relative;
}
.fashion .right2{
    position: absolute;
    right:0px;
    top:385px;
}
.fashion .right1:last-child{
    position: absolute;
    right:0px;
    top:545px;
}
.fashion .right1 li p:first-child{
    padding:40px 20px 0px 30px;
    cursor: pointer;
}
.fashion .right1 li p:nth-of-type(2){
    padding:0px 20px 0px 30px;
    color:#ff6700;
    font-size: 14px;
}
.fashion .right1:last-child li p:nth-of-type(2){
    color:#777;
    font-size: 14px;
    cursor: pointer;
}
.fashion .p1 img{
    width: 1166px;
    padding:30px 0;
    position: relative;
    right:15px;
}
.and div h5{
    display: inline-block;
    padding: 20px 0px 10px;
}
.and div h5:first-child{
    font-size: 22px;
}
.and div h5:last-child{
    font-size: 16px;
    position: absolute;
    right: 0px;
}
.and div h5:last-child span:hover{
    cursor: pointer;
    border-bottom:2px solid rgb(255,103,0);
    color:rgb(255,103,0);
}
.and div h5:last-child span{
    margin-left: 30px;
    text-align: center;
}
.and div h5:last-child span:first-child{
    border-bottom:2px solid rgb(255,103,0);
    color:rgb(255,103,0);
}
.and .left li img{
    width:223px;
    height: 300px;
    margin-left: 15px;
}
.and .left li img:hover{
    transform:scale(1.01);
}
.and img:hover{
    cursor: pointer;
}
.and .right li img{
    width:150px;
    height: 150px;
    margin-top: 10px;
}
.and .right {
    width:223px;
    height: 300px;
    background: #fff;
    margin-left: 10px;
    text-align: center;
}
.and .right:hover{
    transform:scale(1.01);
}
.and .right li p:first-child{
    width:64px;
    height:20px;
    text-align: center;
    background: rgb(229,57,53);
    font-size: 12px;
    color:#fff;
    margin:0 auto;
}
.and .right li p.green{
    background: #83c44e;
}
.and .right li p:nth-of-type(2){
    margin-top:12px;
    font-size: 14px;
}
.and .right li p:nth-of-type(2):hover{
    cursor: pointer;
}
.and .right li p:nth-of-type(3){
    font-size: 12px;
    position: relative;
    color:#b0b0b0;
    bottom:10px;
}
.and .right li span:nth-of-type(1){
    position: relative;
    bottom:20px;
    font-size: 14px;
    color:#ff6700;
}
.and .right li span:nth-of-type(2){
    position: relative;
    bottom:20px;
    font-size: 14px;
    color:#b0b0b0;
}
.and .right1 li img{
    width:80px;
    height: 80px;
    position: absolute;
    right: 15px;
    top:30px;
}
.and .right1{
    width:223px;
    height: 140px;
    background: #fff;
    margin-left: 10px;
    position: relative;
}
.and .right2{
    position: absolute;
    right:0px;
    top:380px;
}
.and .right1:last-child{
    position: absolute;
    right:0px;
    top:540px;
}
.and .right1 li p:first-child{
    padding:40px 20px 0px 30px;
    cursor: pointer;
}
.and .right1 li p:nth-of-type(2){
    padding:0px 20px 0px 30px;
    color:#ff6700;
    font-size: 14px;
}
.and .right1:last-child li p:nth-of-type(2){
    color:#777;
    font-size: 14px;
    cursor: pointer;
}
.and .p1 img{
    width: 1166px;
    padding:30px 0;
    position: relative;
    right:15px;
}
.parts div h5{
    display: inline-block;
    padding: 35px 0px 15px;
}
.parts div h5:first-child{
    font-size: 22px;
}
.parts div h5:last-child{
    font-size: 16px;
    position: absolute;
    right: 0px;
}
.parts div h5:last-child span:hover{
    cursor: pointer;
    border-bottom:2px solid rgb(255,103,0);
    color:rgb(255,103,0);
}
.parts div h5:last-child span{
    margin-left: 30px;
    text-align: center;
}
.parts div h5:last-child span:first-child{
    border-bottom:2px solid rgb(255,103,0);
    color:rgb(255,103,0);
}
.parts .left li img{
    width:223px;
    height: 300px;
    margin-left: 15px;
}
.parts .left li img:hover{
    transform:scale(1.01);
}
.parts img:hover{
    cursor: pointer;
}
.parts .right li img{
    width:150px;
    height: 150px;
    margin-top: 10px;
}
.parts .right {
    width:223px;
    height: 300px;
    background: #fff;
    margin-left: 10px;
    text-align: center;
}
.parts .right:hover{
    transform:scale(1.01);
}
.parts .right li p:first-child{
    width:64px;
    height:20px;
    text-align: center;
    background: rgb(229,57,53);
    font-size: 12px;
    color:#fff;
    margin:0 auto;
}
.parts .right li p.green{
    background: #83c44e;
}
.parts .right li p:nth-of-type(2){
    margin-top:12px;
    font-size: 14px;
}
.parts .right li p:nth-of-type(2):hover{
    cursor: pointer;
}
.parts .right li p:nth-of-type(3){
    font-size: 12px;
    position: relative;
    color:#b0b0b0;
    bottom:10px;
}
.parts .right li span:nth-of-type(1){
    position: relative;
    bottom:20px;
    font-size: 14px;
    color:#ff6700;
}
.parts .right li span:nth-of-type(2){
    position: relative;
    bottom:20px;
    font-size: 14px;
    color:#b0b0b0;
}
.parts .right1 li img{
    width:80px;
    height: 80px;
    position: absolute;
    right: 15px;
    top:30px;
}
.parts .right1{
    width:223px;
    height: 140px;
    background: #fff;
    margin-left: 10px;
    position: relative;
}
.parts .right2{
    position: absolute;
    right:0px;
    top:400px;
}
.parts .right1:last-child{
    position: absolute;
    right:0px;
    top:560px;
}
.parts .right1 li p:first-child{
    cursor: pointer;
    padding:40px 20px 0px 30px;
}
.parts .right1 li p:nth-of-type(2){
    padding:0px 20px 0px 30px;
    color:#ff6700;
    font-size: 14px;
}
.parts .right1:last-child li p:nth-of-type(2){
    color:#777;
    font-size: 14px;
    cursor: pointer
}
.parts .p1 img{
    width: 1166px;
    padding:30px 0;
    position: relative;
    right:15px;
}
.under div h5{
    display: inline-block;
    padding: 35px 0px 15px;
}
.under div h5:first-child{
    font-size: 22px;
}
.under div h5:last-child{
    font-size: 16px;
    position: absolute;
    right: 0px;
}
.under div h5:last-child span:hover{
    cursor: pointer;
    border-bottom:2px solid rgb(255,103,0);
    color:rgb(255,103,0);
}
.under div h5:last-child span{
    margin-left: 30px;
    text-align: center;
}
.under div h5:last-child span:first-child{
    border-bottom:2px solid rgb(255,103,0);
    color:rgb(255,103,0);
}
.under .left li img{
    width:223px;
    height: 300px;
    margin-left: 15px;
}
.under .left li img:hover{
    transform:scale(1.01);
}
.under img:hover{
    cursor: pointer;
}
.under .right li img{
    width:150px;
    height: 150px;
    margin-top: 10px;
}
.under .right {
    width:223px;
    height: 300px;
    background: #fff;
    margin-left: 10px;
    text-align: center;
}
.under .right:hover{
    transform:scale(1.01);
}
.under .right li p:first-child{
    width:64px;
    height:20px;
    text-align: center;
    background: rgb(229,57,53);
    font-size: 12px;
    color:#fff;
    margin:0 auto;
}
.under .right li p.green{
    background: #83c44e;
}
.under .right li p:nth-of-type(2){
    margin-top:12px;
    font-size: 14px;
}
.under .right li p:nth-of-type(2):hover{
    cursor: pointer;
}
.under .right li p:nth-of-type(3){
    font-size: 12px;
    position: relative;
    color:#b0b0b0;
    bottom:10px;
}
.under .right li span:nth-of-type(1){
    position: relative;
    bottom:20px;
    font-size: 14px;
    color:#ff6700;
}
.under .right li span:nth-of-type(2){
    position: relative;
    bottom:20px;
    font-size: 14px;
    color:#b0b0b0;
}
.under .right1 li img{
    width:80px;
    height: 80px;
    position: absolute;
    right: 15px;
    top:30px;
}
.under .right1{
    width:223px;
    height: 140px;
    background: #fff;
    margin-left: 10px;
    position: relative;
}
.under .right2{
    position: absolute;
    right:0px;
    top:400px;
}
.under .right1:last-child{
    position: absolute;
    right:0px;
    top:560px;
}
.under .right1 li p:first-child{
    padding:40px 20px 0px 30px;
    cursor: pointer;
}
.under .right1 li p:nth-of-type(2){
    padding:0px 20px 0px 30px;
    color:#ff6700;
    font-size: 14px;
}
.under .right1:last-child li p:nth-of-type(2){
    color:#777;
    font-size: 14px;
    cursor: pointer;
}
.under .p1 img{
    width: 1166px;
    padding:30px 0;
    position: relative;
    right:15px;
}
.come div h5{
    display: inline-block;
    padding: 35px 0px 15px;
}
.come div h5:first-child{
    font-size: 22px;
}
.come div h5:last-child{
    font-size: 16px;
    position: absolute;
    right: 0px;
}
.come div h5:last-child p:hover{
    color:rgb(255,103,0);
}
.come div h5:last-child p{
    display: inline-block;
    width:36px;
    height:26px;
    border:1px solid #ccc;
    text-align: center;
    font-size:18px;
}
.come div h5:last-child p:first-child{
    color:#e0e0e0;
}
.come div h5:last-child p:last-child{
    color:#b0b0b0;
}
.come div h5:last-child p:last-child:hover{
    cursor: pointer;
    color:#ff6700;
}
.come ul:hover{
    transform:scale(1.01);
}
.come img:hover{
    cursor: pointer;
}
.come div ul li img{
    width:140px;
    height: 140px;
    margin-top: 40px;
}
.come div ul{
    width:223px;
    height: 300px;
    background: #fff;
    margin-left: 11px;
    text-align: center;
}
.come div ul li p:nth-of-type(1){
    margin-top: 20px;
    font-size: 14px;
}
.come div ul li p:nth-of-type(2){
    margin-top:15px;
    font-size: 14px;
    color:#ff6700;
}
.come div ul li p:nth-of-type(1):hover{
    cursor: pointer;
}
.come div ul li span{
    font-size: 14px;
    color:#b0b0b0;
    position: relative;
    bottom: 20px;
}
.hot div h5{
    padding: 35px 0px 15px;
    font-size: 22px;
}
.hot div ul:hover{
    transform:scale(1.01);
}
.hot div ul li img:hover{
    cursor: pointer;
}
.hot div ul li img{
    width:279px;
    height: 200px;
}
.hot div ul{
    width:279px;
    height: 400px;
    background: #fff;
    margin-left: 13px;
    text-align: center;
}
.hot div ul li p{
    position: relative;
    top: 30px;
}
.hot div ul li p:nth-of-type(1){
    width:250px;
    margin:0 auto;
    text-align: center;
    font-size: 14px;
    cursor:pointer;
}
.hot div ul li p:nth-of-type(2){
    width:140px;
    margin-top:20px;
    font-size: 12px;
    color:#b0b0b0;
    text-align: center;
}
.hot div ul li p:nth-of-type(3){
    width:230px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.hot div ul li p:nth-of-type(3) span:first-child{
    padding:0px 15px 0px;
    color:#ddd;
}
.hot div ul li p:nth-of-type(3) span:last-child{
    color: rgb(229,57,53);
    cursor: text;
}
.inside div h5{
    padding: 35px 0px 15px;
    font-size: 22px;
}
.inside ul:hover{
    transform:scale(1.01);
}
.inside img:hover{
    cursor: pointer;
}
.inside div ul li img{
    width:216px;
    height: 154px;
}
.inside div ul {
    width:279px;
    height: 420px;
    background: #fff;
    margin-left: 13px;
    text-align: center;
}
.inside div ul li p:nth-of-type(1){
    text-align: center;
    font-size: 16px;
    color:#ffac13;
    margin-top:40px;
}
.inside div ul li p:nth-of-type(3){
    margin-top:12px;
    font-size:20px;
    cursor:pointer;
}
.inside div ul li p:nth-of-type(4){
    width:230px;
    text-align: center;
    margin:0 auto;
    position: relative;
    bottom:10px;
    font-size:14px;
    color:#b0b0b0;
}
.inside div ul li p:nth-of-type(5){
    font-size: 14px;
}
.inside .insder p{
    display:inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #ffac13;
    border-radius:5px;
    position: relative;
    right: 10px;
    bottom:20px;
    margin-left: 20px;
}
.inside .insder p:nth-of-type(2){
    width: 6px;
    height: 6px;
    border-radius:50%;
    border: none;
    background: rgb(176,176,176);
}
.inside .insder p:nth-of-type(2):hover{
    cursor: pointer;
    background: #ffac13;
}
.inside .insder p:nth-of-type(3){
    width: 6px;
    height: 6px;
    border-radius:50%;
    border: none;
    background: rgb(176,176,176);
}
.inside .insder p:nth-of-type(3):hover{
    background: #ffac13;
}
.video div h5{
    display: inline-block;
    padding: 35px 0px 15px;
}
.video div h5:first-child{
    font-size: 22px;
}
.video div h5:last-child{
    font-size: 16px;
    position: absolute;
    right: 0px;
}
.video div h5:last-child:hover{
    cursor: pointer;
    color:rgb(255,103,0);
}
.video div h5:last-child p{
    display: inline-block;
}
.video div h5:last-child p:last-child{
    width:20px;
    height:20px;
    background:#aaa;
    color:#fff;
    border-radius:50%;
    text-align: center;
}
.video div h5:last-child p:last-child:hover{
    background:rgb(255,103,0);
}
.video div ul:hover{
    transform:scale(1.01);
    transition: .2s;
}
.video div img:hover{
    cursor: pointer;
}
.video div ul li img{
    width:279px;
    height: 180px;
}
.video div ul {
    width:279px;
    height: 285px;
    background: #fff;
    margin-left: 13px;
    text-align: center;
}
.video div ul li p:nth-of-type(1){
    margin-top: 25px;
    font-size: 14px;
}
.video div ul li p:nth-of-type(1):hover{
    cursor: pointer;
    color:rgb(255,103,0);
}
.video div ul li p:nth-of-type(2){
    font-size: 12px;
    position: relative;
    color:#b0b0b0;
    bottom:10px;
}
.container1{
    max-width:100%;
    height: 100%;
    background: #fff;
    margin:0 auto;
}
.bottom div h5{
    display: inline-block;
    font-size:18px;
    padding:20px 50.5px;
}
.bottom div h5:hover{
    cursor: pointer;
    color: #ff6700;
}
.bottom div span{
    color:#ddd;
}
.bottom div hr{
    color:#ccc;
}
.bottom1 div p{
    font-size:12px;
    padding:0px 49px;
    color:#616161;
}
.bottom1 div p:nth-of-type(1){
    font-size:14px;
    padding:20px 49px 10px;
    color:#000;
}
.bottom1 div:nth-of-type(1) p{
    padding:0px 49px 0px 0px;
}
.bottom1 div:nth-of-type(1) p:nth-of-type(1){
    padding:20px 49px 10px 0px;
}
.bottom1 div p:nth-of-type(2):hover{
    cursor: pointer;
    color:#ff6700;
}
.bottom1 div p:nth-of-type(3):hover{
    cursor: pointer;
    color:#ff6700;
}
.bottom1 div p:nth-of-type(4):hover{
    cursor: pointer;
    color:#ff6700;
}
.bottom1 .divfour{
    border-left: 1px solid #cccccc;
    margin-left: 3px;
}
.bottom1 div:nth-of-type(7) p:nth-of-type(1){
    padding:20px 50px 0px;
    font-size: 22px;
    color:#ff6700;
}
.bottom1 div:nth-of-type(7) p:nth-of-type(2){
    width:230px;
    text-align: center;
    font-size: 12px;
    color:#616161;
}
.bottom1 div:nth-of-type(7) p:nth-of-type(3){
    font-size: 14px;
    padding:2px 0 0;
    width: 118px;
    height: 28px;
    border: 1px solid #ff6700;
    margin: 0 auto;
    text-align: center;
    color:#ff6700;
}
.bottom1 div:nth-of-type(7) p:nth-of-type(3):hover{
    background: #ff6700;
    color:#fff;
}
.head ul li{
    margin-top: 30px;
}
.head ul li:nth-of-type(2){
    margin-left: 5px;
}
.head ul li:nth-of-type(1) img{
    width:55px;
    height:55px;
    margin-left: 15px;
}
.head ul li:nth-of-type(3) img{
    width:55px;
    height:25px;
    cursor: pointer;
}
.head ul li:nth-of-type(3){
    position: absolute;
    top:5px;
    right:0;
}
.head ul li:nth-of-type(2) h6 span:hover{
    cursor: pointer;
    color:#ff6700;
}
.head ul li:nth-of-type(2) p{
    display:inline-block;
    font-size:10px;
    color:#757575;
    margin: 0;
}
.head ul li:nth-of-type(2) p:hover{
    cursor: pointer;
    color:#ff6700;
}
.head ul li:nth-of-type(2) p span{
    color:#b0b0b0;
    margin:0;
    padding: 0;
}
.head ul li:nth-of-type(2) h6{
    font-size:12px;
    color:#b0b0b0;
    margin: 0;
}
.heade{
    text-align:center;
}
.heade img{
    padding:15px 0 30px;
}